<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <style>
        input{
            height: 30px;
            width: 300px;
            margin: 5px;
        }
    </style>
</head>
<body>  
<center>
    <form action="/user/addUser" method="post" enctype="multipart/form-data">
        <table>
            <caption><h1>Registration form</h1></caption>
            <thead>
                <tbody>
                    <tr>
                       
                        <td>
                            Username <br>
                            <input type="text" placeholder="Enter Username" name="username">
                            </td>
                    </tr>
                    <tr>
                       
                        <td>
                            Email <br>
                            <input type="email" placeholder="Enter Email" name="email" >
                        </td>
                    </tr>
                    <tr>
                       
                        <td>
                            Password <br>
                            <input type="password" placeholder="Enter Password" name="password">
                
                    </tr>
                    <tr>
                       
                        <td>
                            Address <br>
                            <textarea  placeholder="Enter Address" name="address" cols="40" rows="3"></textarea>
                
                    </tr>
                     <tr>
                       
                        <td>
                            userImage <br>
                          <input type="file" name="myImage" id="file"> 

                    </tr>
                    <tr>
                        <td><input type="submit" value="Submit"><br>
                        <input type="reset" value="Reset"></td> 
                        
                    </tr>
                </tbody>
            </thead>
        </table>
    </form>
   
</center>
</body>
</html>